@font-face {
    font-family: 'Aileron Light';
    src: url('./Aileron-Light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --background-color: #343232;
    --accent-color: #47494ae6;
    --text-color: white;
    --font: 'Aileron Light'; 
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

.container {
    margin: 0 auto;
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    min-width: 520px;
    width: 300px;
    /* min-width: 500px;
    width: 300px; */
}

.menu {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
    height: 20%;
    margin: .5em 0;
}


option {
    margin: 1em .5em;
    font-size: 1.1rem;
}

.color-picker {
    border-radius: 5px;
    width: 16%;
    height: 43px;
    /* -webkit-appearance: none; */
    /* margin-left: .5em; */
    /* innen */
    /* appearance: none;
    border: none;
    padding: 0;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    border-radius: 3px;
     */
}

.triangle {
    width:auto;
    height: 12px;
    position: relative;
    right: 3.8%;
}

select#color-scheme {
    /* -webkit-appearance: none;
    appearance: none; */
    box-sizing:border-box;
    background: var(--accent-color);
    padding: .6em .5em;
    /* margin: .3em; */
    font-family: var(--font);
    /* letter-spacing: 1px; */
    font-size: 1rem;
    /* ide */
}

#color-scheme {
    width: 37%;
    background: none;
    border-radius: 3%;
    color: white;
    font-weight: 500;
    border: 1px solid white;
    font-size: 2rem;
    height: 60%;

}

button {
    background: var(--accent-color);
    font-family: var(--font);
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding: .5em .3em;
    margin-left: auto;
    /* border: 2px solid rgb(0, 0, 0);
    border-radius: 5px; */
    /* letter-spacing: .5px; */
    /* font-weight: 600; */
}

button:hover {
    background: rgb(114, 20, 196);
    cursor: pointer;
}

#hex, .color-picker, button, #color-scheme {border-radius: 3px;}
.color-picker, #hex, button {width: 16%;}
#color-scheme {width: 37%;}
.color-picker, #hex {width: 15%;}

.color-picker {
    margin-left: 1em;
}

#hex {
    margin-left: 1.2em;
}

#color-scheme {
    margin-left: 1.01em;
}

button {
    margin-right: .6em;
}

#hex {
    background: var(--accent-color);
    color: white;
    font-size: 1rem;
    letter-spacing: 0.5px;
    /* width: 17%; */
    /* border: 2px solid rgb(92, 92, 92); */
    border: 2px solid rgb(116, 116, 116);
    height: 35px;
    border-radius: 3px;
    font-family: var(--font);
    outline: 1px solid black;
    text-align: center;
    /* margin-left: 1em; */
    /* margin-left: 1.5em; */
    /* margin-right: 1em; */
}

option {
    margin: .5em;
}

.colors {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 300px;
}

.names {
    display: flex;
    flex-direction: row;
}

.c1,
.c2,
.c3,
.c4,
.c5,
.c0 {
    width: 20%;
    /* border: 1px solid #6A6262; */
}

.p1,
.p2,
.p3,
.p4,
.p5,
.p0 {
    width: 20%;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    font-size: .9rem;
    margin: 0.5rem;
    font-family: var(--font);
}
